[Unit]
Description=Helium Package forwarder autostart
After=network-online.target

[Service]
ExecStart=/home/pi/run.sh
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi
[Install]
WantedBy=multi-user.target
